.errorMessage {
  padding: 10px;

  border: 2px solid var(--danger);
  border-radius: 5px;

  &__message {
    font-weight: 600;
    font-size: 20px;
    color: var(--danger);
    
    &--text {
      font-weight: normal;
    }
  }

  @media (max-width: 600px) {
    &__message {
      font-size: 18px;
    }
  }

  @media (max-width: 367px) {
    &__message {
      font-size: 16px;
    }
  }
}