.transformedData {
  padding: 10px;
  margin-bottom: 10px;

  border: 2px solid var(--primary);
  border-radius: 5px;

  &__title {
    margin-bottom: 10px;

    text-align: center;
    border: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 367px) {
    &__title {
      font-size: 16px;
    }

    &__content {
      gap: 7px;
    }
  }
}